<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>HelloGradle</servlet-name>
		<servlet-class>hellogradle.HelloGradleServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>Testing</servlet-name>
		<servlet-class>hellogradle.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinTree</servlet-name>
		<servlet-class>server.JoinTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitNode</servlet-name>
		<servlet-class>server.InitNodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTree</servlet-name>
		<servlet-class>server.CreateTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitTree</servlet-name>
		<servlet-class>server.ExitTreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Heartbeat</servlet-name>
		<servlet-class>server.HeartbeatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RootStatus</servlet-name>
		<servlet-class>server.RootStatusServlet</servlet-class>
    </servlet>



	<servlet-mapping>
        <servlet-name>Testing</servlet-name>
		<url-pattern>/testing</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloGradle</servlet-name>
		<url-pattern>/hellogradle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinTree</servlet-name>
		<url-pattern>/jointree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitNode</servlet-name>
		<url-pattern>/initnode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTree</servlet-name>
		<url-pattern>/createtree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitTree</servlet-name>
		<url-pattern>/exittree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Heartbeat</servlet-name>
		<url-pattern>/heartbeat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RootStatus</servlet-name>
		<url-pattern>/rootstatus</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
